.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 94px 0 24px;
}

@media screen and (max-width: 767px) {
  .footer_container {
    margin-top: 90px;
  }
}

@media screen and (max-width: 712px) {
  .footer_container {
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer_container {
  padding: 0 48px;
}

@media screen and (max-width: 767px) {
  .footer_container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer_container {
    padding: 0 16px;
  }
}
