.cover-picture__subtitle {
  margin: 32px 0 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 674px) {
  .cover-picture__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
  }
}
