.cover-picture__image-wrapper {
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.cover-picture__image-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  height: 100%;
}
