.video__item {
  width: 100%;
  min-height: 323px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.video__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.video__item:hover::before {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .video__item {
    min-height: 288px;
  }
}

@media screen and (max-width: 768px) {
  .video__item {
    min-height: 200px;
  }
}

@media screen and (max-width: 374px) {
  .video__item {
    min-height: 192px;
  }
}
