.video__text {
  margin: 0 0 30px 30px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .video__text {
    margin: 0 0 35px 30px;
  }
}

@media screen and (max-width: 768px) {
  .video__text {
    margin: 0 0 24px 24px;
  }
}

@media screen and (max-width: 374px) {
  .video__text {
    margin: 0 0 16px 16px;
  }
}
