.page__section-cover {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .page__section-cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .page__section-cover {
    margin-top: 64px;
  }
}
