.lead__subtitle {
  max-width: 640px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  margin: 32px auto 64px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
