.places_container {
  margin-top: 92px;
}

@media screen and (max-width: 767px) {
  .places_container {
    margin-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .places_container {
    margin-top: 64px;
  }
}

.places_container {
  padding: 0 48px;
}

@media screen and (max-width: 767px) {
  .places_container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .places_container {
    padding: 0 16px;
  }
}
