.cover__background {
  margin: 0;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .cover__background {
    width: calc(100% + 96px);
    margin-left: -48px;
  }
}

@media screen and (max-width: 425px) {
  .cover__background {
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

.cover__overlay {
  position: absolute;
  width: 100%;
  background: #2a2c2f;
  opacity: 0.8;
  height: 100%;
}
