.cover__title {
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
}

/* @media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}  */
