.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 94px 0 24px;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 90px;
  }
}

@media screen and (max-width: 712px) {
  .footer {
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
}
